img {
    width: 150px;
}
#users {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;

    flex-wrap: wrap;
}
li {
    list-style-type: none;
    border: 1px solid black;
    margin: 5px;
}
